altgraph==0.17.2
asgiref==3.5.2
click==8.1.3
colorama==0.4.4
distlib==0.3.4
Django==4.0.4
docx==0.2.4
filelock==3.7.0
Flask==2.1.2
Flask-SQLAlchemy==2.5.1
future==0.18.2
greenlet==1.1.2
gunicorn==20.1.0
itsdangerous==2.1.2
Jinja2==3.1.2
lxml==4.8.0
MarkupSafe==2.1.1
mysqlclient @ file:///D:/Chrome%20Downloads/mysqlclient-2.1.0rc1-cp310-cp310-win_amd64.whl
numpy==1.22.3
pefile==2021.9.3
Pillow==9.1.0
platformdirs==2.5.2
pyinstaller==5.0.1
pyinstaller-hooks-contrib==2022.4
python-docx==0.8.11
pywin32-ctypes==0.2.0
six==1.16.0
SQLAlchemy==1.4.37
sqlparse==0.4.2
tzdata==2022.1
virtualenv==20.14.1
Werkzeug==2.1.2
